#content-container {margin-left: 255px; }
#sideNav {float: left; width: 225px; line-height: 18px; font-size: 13px; text-align: center; height: 450px; width: 225px; text-decoration: none; color: #fff; }
#footer { border-top: 1px solid #efefef; padding: 13px 25px; line-height: 18px; clear:both; font-family: Tahoma, Arial, Helvetica, Sans-serif; font-size: 10px; }

#box1 { background: #87B2DD; }
#box2 { background: #90ee90; }
#box3 { background: #f96699; }

#padder { height: 5px; background-color: #87B2DD; }

#project-container { background-color: #ffffee; width: 600px; }



a:link { color: #000000;}
a:visited { color: #000000; }
a:hover { color: #5a5858; } 
a:active { color:#000000; }

.generic { line-height: 18px; color: #414141;}
.colorbox { float:right; width:20px; height:20px; border: 1px solid #505050; position: absolute; top: 10px; right: -25px; cursor: pointer; }
.bg { background-color: #414141; border: 1px solid #fff; }
.me {float: right; display: block; position: relative; width: 179px; padding: 5px; }
.content { line-height: 18px; display:none; color: #414141; } 
.edu { float:left; padding-right: 5px; }
.diploma { padding-right: 2px; }

.nav { cursor: pointer; }
a.nav:link { text-decoration: none; color: #fff; }
a.nav:visited { text-decoration: none; color: #fff; }
a.nav:hover { text-decoration: none; color: #fff; }
a.nav:active { text-decoration: none; color: #fff; }

.project-content { border-top:1px solid; width: 640px;}
.projectbox { background-color: #fff; width: 400px;}

.project-nav { background-color:  #87b2dd; color:  #ffffff; }

.footerimg { border:  none; }
a.tweet:link { text-decoration: bold;}
a.tweet:visited { text-decoration: bold;}
a.tweet:hover { text-decoration: bold;}
a.tweet:active { text-decoration: bold;}

h1 { margin: 0; padding-left: 7px; padding-top: 1px; padding-bottom: 1px; font-size: 30px; color: #fff; height: 40px; background-color: #505050; }
h2 { font-size: 15px; border-bottom: solid; border-width: 1px;}
h3 { font-size: 13px; margin:0; padding: 0;}
html, body { margin: 0; padding: 0; overflow: auto;}
body { font-family: Arial, Helvetica, Verdana, Sans-serif; font-size: 12px; background: #ffffff; }